[Unit]
Description=Scurl Background Service
After=network.target

[Service]
User=scurl
Group=scurl
WorkingDirectory=/opt/scurl

ExecStart=/bin/bash /opt/scurl/bin/scurl_daemon.sh
Restart=always
Type=simple
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
